.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 76px;
    z-index: 200;
    padding-top:5px;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(234, 232, 232);
    margin: 0 4px;
    border-radius: 4px;
}

.sidebar-link img { /* target all img inside .sidebar-link only*/
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}